<h1>ブログ投稿が完了しました！</h1>


<h4> name: <%= @picture.name %></h4>
<!--<p>email: <%= @picture.content %></p>-->


<h4>ブログの内容確認</h4>

<p>title: <%= @picture.title %></p>
<p>contact: <%= @picture.content %></p>